body {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-rows: 1fr 90px;
    grid-template-columns: 30px 1fr;
    grid-template-areas: "aside main" "footer footer";
}

@media screen and (max-width: 600px)  {
    body {
        grid-template-rows: 3fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "main" "footer";
    }
}

.aside {
    grid-area: aside;
    background: #457b9d;
    display: grid;
    justify-items: center;
    align-items: center;
}

.aside i {
    display: block;
}

.main {
    grid-area: main;
    background: #a8dadc;
}

.footer {
    grid-area: footer;
    background: #1d3557;
}
