
body {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-rows: 500px 1fr;
    grid-template-columns: 30px 1fr;
    grid-template-areas: "aside main" "aside footer";
}

.aside {
    grid-area: aside;
    background: #457b9d;
}

.main {
    grid-area: main;
    background: #a8dadc;
}

.footer {
    grid-area: footer;
    background: #1d3557;
}
